@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #007d88 !important;
  --secondary-color: #d9eced !important;
  --blur-color: #d9eced !important;
  --tertiary-color: #FFFFFF !important;
  --success-color: #80b855 !important;
  --warning-color: #eaca44 !important;
  --error-color: #ef4d4d !important;
}


@layer utilities {
  .text-primary {
    color: var(--primary-color);
  }

  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-blur {
    background-color: var(--blur-color);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-custom {
  min-height: 100px;
  width: 100%;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-blur {
  background-color: var(--blur-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.btn-primary {
  font-size: 18px;
  border: 1px solid var(--primary-color);
  background-color: white;
  transition: .2s ease-in;
  color: var(--primary-color);
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-cancel {
  font-size: 18px;
  border: 1px solid #cccccc;
  background-color: white;
  transition: .2s ease-in;
  color: #595959;
  border-radius: 5px;
}

.btn-cancel:hover {
  background-color: #cccccc;
  color: #fff;
}

.select-primary {
  outline: none;
  font-size: 18px;
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
  border-radius: 5px;
}


.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.page-title {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 15px;
}

.page-sub-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.i-cus {
  outline: none;
  border-bottom: 2px solid rgb(212, 212, 212);
  padding: 10px 8px;
  width: 100%;
}

.i-cus:focus {
  border-bottom-color: var(--primary-color);
}

.on-focus {
  border-bottom: 2px solid var(--primary-color) !important;
}

.type-1 {
  background-color: #fdab5e;
  color: white;
}

.type-2 {
  background-color: #ff7d7d;
  color: #fff;
}

.type-3 {
  background-color: #5ec395;
  color: #fff;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #b1afaf;
}

::-webkit-scrollbar-button:start {
  display: none;
}

::-webkit-scrollbar-button:end {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.tab-active {
  color: var(--primary-color);
  background-color: var(--blur-color);
}