@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-custom {
  min-height: 100px;
  width: 100%;
}

.text-primary {
  color: #007d88;
}

.bg-primary {
  background-color: #007d88;
}

.bg-blur {
  background-color: #d9eced;
}

.btn-primary {
  font-size: 18px;
  border: 1px solid #007d88;
  background-color: white;
  transition: .2s ease-in;
  color: #007d88;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #007d88;
  color: #fff;
}

.btn-cancel {
  font-size: 18px;
  border: 1px solid #cccccc;
  background-color: white;
  transition: .2s ease-in;
  color: #595959;
  border-radius: 5px;
}

.btn-cancel:hover {
  background-color: #cccccc;
  color: #fff;
}

.select-primary {
  outline: none;
  font-size: 18px;
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
  border-radius: 5px;
}


.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.page-title {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 15px;
}

.page-sub-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.i-cus {
  outline: none;
  border-bottom: 2px solid rgb(212, 212, 212);
  padding: 10px 8px;
  width: 100%;
}

.i-cus:focus {
  border-bottom-color: #007d88;
}

.type-1 {
  background-color: #fdab5e;
  color: white;
}
.type-2 {
  background-color: #ff7d7d;
  color: #fff;
}
.type-3 {
  background-color: #5ec395;
  color: #fff;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
}

::-webkit-scrollbar-button:start {
  display: none;
}

::-webkit-scrollbar-button:end {
  display: none;
}